@import "default";

.header {
  color: $mainLightColor;
  background-color: $mainDarkColor;

  &__brand {
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $mainLightColor;

      &:hover {
        color: $mainLightColor;
      }
    }
  }

  &__auth {

    .logout {

      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    list-style: none;

    a {
      text-decoration: none;
      color: $secondLightColor;

      &.active {
        color: $mainLightColor;
      }

      &:hover {
        color: $mainLightColor;
      }
    }
  }
}

